<p class="MsoNormal"><span style="font-family: 宋体;">天空收集者、美食探索者&mdash;罗萍</span>
</p>
<p class="MsoNormal"><span
    style="font-family: 宋体;">热爱生活，喜欢用照片或者视频来定格住生活中无数个美好的瞬间，尤其钟爱各式各样的天空和落日余晖。闲瑕时光，常常和朋友一起吃吃喝喝，感受人间烟火气。</span>
</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><img
    src="//lzwlkj.oss-cn-shenzhen.aliyuncs.com/jaqn/image/k9gs6rs3qnWIf7RQKGU_K.jpg"
  ></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><span
    style="font-family: 宋体;">目前的规划是希望能够尽快熟悉办公室业务，融入办公室集体，争取今天比昨天做得更好，明天比今天有进步，在平凡的岗位做出不平凡的成绩。工作之余，也要好好规划时间，认真准备考试，争取早日上岸！不负青春，不负韶华！</span>
</p>
<p class="MsoNormal"><span
    style="font-family: 宋体;">宜宾宜宾，宜人又宜宾，我与宜宾结下了不解之缘。我是宜宾人，在宜宾念大学，热爱宜宾的我跟随着缘分来到了江安这座具有魅力的城市。既来之，则安之。未来的两年里，我想要慢慢生活，用心感受江安的风土人情之美。</span>
</p>
<p class="MsoNormal"><span
    style="font-family: 宋体;">最后，希望我们能继续兴致盎然地与世界交手，祝我们未知的道路充满阳光，一直走在开满鲜花的路上。</span>
</p>
<p class="MsoNormal"><img
    src="//lzwlkj.oss-cn-shenzhen.aliyuncs.com/jaqn/image/FYs92StT4ieXJ-X0it_s2.jpg"
  ></p>